* {
    font-family: 'Nunito';
}

body {
    padding: 0 10em;
}

h1, h3 {
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

div {
    padding-top: 3rem;
}

button {
    cursor: pointer;
}

.h-center, h1, input {
    text-align: center;
}

#calc {
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

#decimal {
    border-width: 0 0 1px 0;
    outline: none;
}