<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bin2Dec Calculator</title>
</head>

<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <div style="padding-bottom: 1rem">
            <label>Binary: </label>
            <input v-model="binaryInput">
            <button @click="convertToDec">Calculate</button>
        </div>
        <div>
            <label>Decimal: </label>
            <input v-model="decimalOutput" type="number">
            <button @click="reset">Reset</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./main.js"></script>
</body>

</html>